version: '2'

services:
  portainer:
    image: portainer/portainer-ce
    command: --admin-password-file /data/password
    restart: always
    ports:
      - 9000:9000
      - 8000:8000
    volumes:
      - type: npipe
        source: {{ portainer_local_endpoint_url }}
        target: {{ portainer_local_endpoint_url }}
      - {{ portainer_password_file_path }}\data:C:\data

